on:
    workflow_call:
      inputs:
        config-path:
          required: true
          type: string
      secrets:
        envPAT:
          required: true
        HOTWAX_PUBLIC_SECRET:
          required: true
jobs:
    build_and_deploy:
        runs-on: ubuntu-latest
        environment: development
        steps:
          - uses: actions/checkout@v2
          - uses: actions/setup-node@v3
            with:
                node-version: 16
          - name: Checkout to latest release tag
            run: |
                git checkout $(git describe --tags `git rev-list --tags --max-count=1`)
          - name: Install Dependencies
            run: npm install
          - name: Generate .env file
            run: cp .env.example .env
          - name: Set Firebase and VAPID Config
            run: |
              if [[ -n "$VUE_APP_FIREBASE_CONFIG" ]]; then
                echo "VUE_APP_FIREBASE_CONFIG='$VUE_APP_FIREBASE_CONFIG'" >> .env
                echo "VUE_APP_FIREBASE_VAPID_KEY='$VUE_APP_FIREBASE_VAPID_KEY'" >> .env
              fi
            env:
              VUE_APP_FIREBASE_CONFIG: ${{ secrets.VUE_APP_FIREBASE_CONFIG }}
              VUE_APP_FIREBASE_VAPID_KEY: ${{ secrets.VUE_APP_FIREBASE_VAPID_KEY }}
          - name: Build
            run: npm run build
          - name: Install Firebase
            run: npm install -g firebase-tools
          - name: Set Firebase project
            run: firebase use default --token "$HOTWAX_PUBLIC_SECRET"
            env:
                HOTWAX_PUBLIC_SECRET: ${{ secrets.HOTWAX_PUBLIC_SECRET }}
          - name: Deploy
            run: firebase deploy --token "$HOTWAX_PUBLIC_SECRET" -m "Deploying via GitHub actions"  --only hosting:uat
            env:
                HOTWAX_PUBLIC_SECRET: ${{ secrets.HOTWAX_PUBLIC_SECRET }}
